<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/adminhome.css">
    <title>Admin Home</title>
</head>
<body>
    <nav class="navbar">
        <div class="main-title"><a href="#"  ><b>Admin Home</b></a></div>
        <div class="navbar-links">
            <ul>
                <li><a href="/">Logout</a></li>
            </ul>
        </div>
    </nav>
    <h1>Admin Section</h1>
    <div class="content">
        <img src="/img/adminhome.png" alt="Illustration">
        <div class="sub">
            <a href="/reviewadmin" class="box">Check Reviews</a>
            <a href="/vendorform" class="box">Vendor Approval Forms</a>
        </div>
    </div>
    
</body>
</html>