<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cafeteria</title>
    <link rel="stylesheet" href="/css/mainhome.css">
    <link rel="stylesheet" href="/css/common.css">
</head>
<body>
    <nav class="navbar">

        <div class="main-title"><a class="active" href="/mainhome"  ><b>Cafeteria</b></a></div>

        <div class="navbar-links">
          <ul>
                <li><a href="/login">Login</a></li>
                <li><a href="/signup">Register</a></li>
            </ul>
        </div>
    </nav>
    <img class="new" src="/img/cafeteria.jpg" width="800" height="679">

      <div class="con">
        <div>
       <b>Welcome to</b> <br>
        <div class="c">Cafeteria</div>
      </div>
      <div class="s">
        <p>All your food needs at one stop</p>
      </div>
</div>
</body>
</html>