<!-- menuitemdetails.ejs -->
<body>
    <h1>Menu Item Details</h1>
    <p>Name: <%= menuItem.name %></p>
    <p>Price: <%= menuItem.price %></p>
    <p>Time: <%= menuItem.time %> mins</p>
    <p>Category: <%= menuItem.category %></p>
    <!-- Add other details as needed -->
</body>
