<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register</title>
    <link rel="stylesheet" href="/css/signuppage.css">
    <link rel="stylesheet" href="/css/common.css">
</head>
<body>
    <nav class="navbar">
        <div class="main-title"><a href="/mainhome"  ><b>Cafeteria</b></a></div>
        <div class="navbar-links">
            <ul>
                <li><a href="/login">Login</a></li>
                <li><a class = "active" href="/signup">Register</a></li>
            </ul>
        </div>
    </nav>
    <img class="new" src="/img/roundimage.png" style="padding:20px 0px; "  width="450" height="679">

      <div class="con">
      
      <div class="but"> REGISTER
    </div>
        <a class="btn1" href="/reguser" >&nbsp;Register as User&nbsp;&nbsp;</a>
        <a class="btn2" href="/regvendor">Register as Vendor</a>
      
     

</div>
</body>
</html>