.active{
    font-weight: 600;
  }
.errorimg{
  
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: auto;
    height:400px;
    margin-top: 50px;
}
.errormsg{
  margin:30px;
  text-align: center;
  font-size: 30px;
  font-weight: 400;
  color: darkseagreen;
}
.errorlink{
  text-align: center;
  font-size: 25px;
}