/* style.css */
body {
    margin: 0;
    font-family: 'Arial', sans-serif;
    background-color: #f5f5f5;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.menu-item-details {
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.image-container {
    text-align: center;
}

.menu-image {
    width: 250px; /* Adjust the size as needed */
    height: 250px; /* Adjust the size as needed */
    border-radius: 50%; /* Make it circular */
    object-fit: cover; /* Maintain aspect ratio and cover the container */
}

/* Add any other styles as needed */
