* {
    box-sizing:border-box;
    ;
}

body{
    margin :0;
    padding: 0;
}
.navbar{
   
    justify-content:space-between;
    align-items: center;
    background-color: #FE724C;
    color:white;
    padding-bottom: 5px;
 }
.main-title a{
    font-size: 2rem;
    margin-left: 50px;
    text-decoration:none;
    color:white ;
    float: left;
}
.new{
    margin-top: 30px;
    margin-right: 10px;
    float:right;
}
.navbar-links a{

    display: flex;
    margin-right: 8px;
    list-style: none;
    font-size: 1.5rem;
    float: right; 
    text-decoration: none;
    color: white;
   
    display: block;
  
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin-bottom: 500px;
 }
 .navbar-links li{
    list-style: none;
    font-size: 1.5rem;
 
 }
 .navbar-links li a{
     text-decoration: none;
     color: white;
     padding: 1rem;
     display: block;
     font-size: 1.5rem;
     font-family: Verdana, Geneva, Tahoma, sans-serif;
 }
 :root {
    --timing-func: cubic-bezier(.02,.78,.31,1.17);
  }
  
  html {
    font-size: 16px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
  }
  
  .wrapper {
    padding: 2rem;
   
  }
  
  #toggler {
    display: none;
  }
  
   .tog{
    border-radius: 3px;
    text-transform: uppercase;
    cursor: pointer;
    user-select: none;
    position: fixed;
    z-index: 2;
    left: 1rem;
    top: 1rem;
    padding: 0.75rem 1rem;
    background-color: #efefef;
  }
  .tog:hover {
    background: #cccccc;
  }
  
  .wrapper:has(input:checked) label {
    background: #444444;
    color: white;
  }
  
  .menu {
    width: min(250px, 100vw);
  }
  
  .sidebar {
    display: inline-block;
    overflow: hidden;
    background: #FE724C;
    padding-top: 4rem;
    position: fixed;
    left: 0;
    top: 0;
    bottom: 0;
    max-width: 0;
    transition: all 0.2s var(--timing-func);
    overflow-y: scroll;
  }
  .sidebar::-webkit-scrollbar {
    width: 10px;
  }
  .menu li{
    padding: 10px;
    /* border:1px solid #efefef; */
    list-style: none;
     color: #ffffff;
     font-size: 1.2rem;
    margin: 10px;
   
 
  }
  .menu li:hover{
   background-color:black;
   border-radius: 2px;
  }
  
  #toggler:checked + .sidebar {
    max-width: min(250px, 80vw);
  }
  a{
    text-decoration: none;
    color:white;
  }
  table{
    margin-top: 60px;
    margin-left: 350px;
    
  }
  
  .ORDER{
    margin-top: 50px;
    margin-left: 25rem;
  }
  
  table, th, td {
    border: 2px solid #FFC529;
    border-collapse: collapse;
    
  }
  th, td {
    background-color: white;
    align-items: center;
    padding: 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 1.5rem;
  }

   #yes{
   background-color: #14D561;
   border-radius: 6px;
   width: 8%;
   padding: 10px;
  }
  #yes:hover{
    font-size: 1.3rem;
    width: 10%;
 }
  #no{
    
    background-color:#F24E1E;
    border-radius: 6px;
    width: 8%;
    padding: 10px;
  }
  #no:hover{
    font-size: 1.3rem;
    width: 10%;
   
    
 }

  .orderitem{
   margin-left:30.5rem ;
   font-size:1.5rem ;
   padding: 10px;
   width: 60%;
   margin-top: 10px;
  }
  
  input#placeorder {
    width: 10%;
    background-color: #FFC529;
    color: white;
    padding: 14px 20px;
   
    border: none;
    border-radius: 28.5px;
    cursor: pointer;
    text-align: center;
    float: right;
    margin-right: 400px;
    margin-top: 70px;
     margin-bottom: 100px;
  }
  input#placeorder:hover{
    opacity: 0.7;
  }
input#friend,input#delivery{
  width: 25px;
  height: 25px;
}
input#email,input#phoneNumber,input#address{
  width: 50%;
  padding: 3px;
  border: 1.5px solid #FFC529;
  border-radius: 5px;
  height: 50px;
  font-size: 1rem;
  margin-left: 50px;
}
.total{
  margin-left:1050px;
  font-size: 25px;
  padding: 10px;
  color: darkblue;
  font-weight: 600;
  margin-top: 30px;
  
}
#minus{
 
  background:#dc4646;
  border-radius:4px;
  width:30px;
  height:35px;
  display: inline-block;
  color: white;
  border-color: rgb(254, 197, 184);
}
#plus{
 color: white;
   background:rgb(40, 172, 40);
   border-radius:4px;
   border-color: rgb(184, 254, 223);
   width:30px;
   height:35px;
   display: inline-block;
}
button{
  margin:100px;
  margin-left: 1000px;
  background-color: #FFC529;
  color: white;
  border-radius: 10px;
  border:none;
  padding:10px;
}