@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@500&display=swap');


* {
    box-sizing:border-box;
    ;
}

body{
    margin :0;
    padding: 0;
}
.navbar{
   
    justify-content:space-between;
    align-items: center;
    background-color: #FE724C;
    color:white;
    padding-bottom: 5px;
 }
.main-title a{
    font-size: 2rem;
    margin-left: 50px;
    text-decoration:none;
    color:white ;
    float: left;
}
.new{
    margin-top: 30px;
    margin-right: 10px;
    float:right;
}
.navbar-links a{

    display: flex;
    margin-right: 8px;
    list-style: none;
    font-size: 1.5rem;
    float: right; 
    text-decoration: none;
    color: white;
   
    display: block;
  
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin-bottom: 500px;
 }
 .navbar-links li{
    list-style: none;
    font-size: 1.5rem;
 
 }
 .navbar-links li a{
     text-decoration: none;
     color: white;
     padding: 1rem;
     display: block;
     font-size: 1.5rem;
     font-family: Verdana, Geneva, Tahoma, sans-serif;
 }
 :root {
    --timing-func: cubic-bezier(.02,.78,.31,1.17);
  }
  
  html {
    font-size: 16px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
  }
  
  .wrapper {
    padding: 2rem;
   
  }
  
  input {
    display: none;
  }
  
  label {
    border-radius: 3px;
    text-transform: uppercase;
    cursor: pointer;
    user-select: none;
    position: fixed;
    z-index: 2;
    left: 1rem;
    top: 1rem;
    padding: 0.75rem 1rem;
    background-color: #efefef;
  }
  label:hover {
    background: #cccccc;
  }
  
  .wrapper:has(input:checked) label {
    background: #444444;
    color: white;
  }
  
  .menu {
    width: min(250px, 100vw);
  }
  
  .sidebar {
    display: inline-block;
    overflow: hidden;
    background: #FE724C;
    padding-top: 4rem;
    position: fixed;
    left: 0;
    top: 0;
    bottom: 0;
    max-width: 0;
    transition: all 0.2s var(--timing-func);
    overflow-y: scroll;
  }
  .sidebar::-webkit-scrollbar {
    width: 10px;
  }
  .menu li{
    padding: 1.5rem;
    /* border:1px solid #efefef; */
    list-style: none;
     color: #ffffff;
     font-size: 1.2rem;
    margin-right: 35px;
    margin-top: 10px;
   
 
  }
  .menu li:hover{
   background-color:black;
   border-radius: 2px;
  }
  
  #toggler:checked + .sidebar {
    max-width: min(250px, 80vw);
  }
  a{
    text-decoration: none;
    color:white;
  }
  

    
  
 .reviewt{
  float: left;
  margin-left: 250px;
  /* margin: 15px; */
  font-size: 2.5rem;
  font-family: 'Times New Roman', Times, serif;
  color: #35716d;
 }
 table {
    width: 100%;
    border-collapse: collapse;
  }
  
  th, td {
    padding: 8px;
    text-align: left;
    border-bottom: 1px solid #ddd;
  }
  
  th {
    background-color: #f2f2f2;
  }
  
  .reject-button {
    background-color: #ff3333;
    color: #ffffff;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
  }
  
  .star-rating {
    display: flex;
    padding: 5px;
  }
  
  .star-rating .star {
    color: #888888;
  }
  
  .star-rating .star.checked {
    color: gold;
  }

  .reject{
    background-color:red;
    border-radius: 5px;
    padding: 7px;
    font-size: 1rem;

  }
  .reject:hover{
    opacity:0.7;
  }
  .done{
    border-radius: 5px;
    padding: 7px;
    font-size: 1rem;
    
    background-color:rgb(35, 204, 33);
  }
  .done:hover{
    opacity:0.7;
  }
  .mainrow{
    font-size: 1.2rem;
  }
  .reviews-table {
    width: 65%;
    border-collapse: collapse;
    font-family:'Times New Roman', Times, serif;
    align-content: center;
    margin: 280px;
    
  }
  
  .reviews-table th,
  .reviews-table td {
    padding: 8px;
    text-align: left;
    border-bottom: 2px solid #FFC529;
   
   
    
  }
 .reviewt{
  float: left;
  margin-left: 250px;
  /* margin: 15px; */
  font-size: 2.5rem;
  font-family: 'Times New Roman', Times, serif;
  color: #35716d;
 }
  .reviews-table th {
    background-color: #FFC529;
  }
  
